/*-- :root {

} --*/

/*-- catch-all viewport stylings --*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: "Courier New", Courier, Arial, sans-serif;
    background-image: linear-gradient(180deg, grey, white);
}

/*-- text and link style for name in site header --*/
header h1 a{
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

header nav a{
    font-size: 1em;
    text-decoration: none;
    color: black;
}

header nav {
    align-content: center;
    margin-left: 30px;
}



header nav a:hover{
    text-decoration: underline;
    color: yellow;
}


/* gotta source this */
#splash {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/photos_2022_6_25_fst_abstract-graphic.jpg");
    background-size: cover;
    background-position: center;
}

section {
    width: 100%;
    margin: 10px, 20px;
}

section h2 {
   font-family: "Courier New", Courier, Arial, sans-serif;
   font-size: 2em;
   width: 100%;
   font-weight: bolder;
   border-bottom: 1px solid grey;
}

.section-head-style {
    margin-left: 20px;
}

.about-text {
    min-height: 160px;
}

#portrait {
    display: inline;
    float: left;
    height: 150px;
}

.about-text p {
    font-family: Arial, "Lucida Sans Unicode", sans-serif;
    font-size: 1.2em;
    margin: 10px 20px;
    text-align: justify;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Courier, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(0deg, grey, white);
}

footer p {
    margin-bottom: 20px;
}