/* catch-all viewport stylings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* container, text font, and gradient for header and nav bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-family: "Courier New", Courier, Arial, sans-serif;
    background-image: linear-gradient(180deg, grey, white);
}

/* text and link style for name in site header */
header h1 a{
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

/* sub-container for nav bar */
header nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    padding: 10px;
}

/* nav bar text style */
header nav a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 5px;
}

/* hover animation for nav bar links */
header nav a:hover{
    color: yellow;
    background: rgba(0, 0 ,0 ,0.2);
    border-radius:5px;
    transition-duration: 1s;
}

/* hero image */
#splash {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/photos_2022_6_25_fst_abstract-graphic.jpg");
    background-size: cover;
    background-position: center;
}

/* allows line breaks under section heads to cross the entire screen */
section {
    width: 100%;
}

/* text style for section headings */
section h2 {
   font-family: "Courier New", Courier, Arial, sans-serif;
   font-size: 2em;
   width: 100%;
   font-weight: bolder;
   margin-bottom: 20px;
   border-bottom: 1px solid grey;
}

/*-- section heading text offset --*/
.section-head-style {
    margin-left: 30px;
}

/*-- styling for about content container --*/
.about-text {
    display: block;
    min-height: 160px;
    border: 1px dotted black;
    margin: 20px;
}

/*-- portrait placement and size --*/
#portrait {
    float: left;
    margin-left: 10px;
    height: 150px;
}

/*-- styling for about section text --*/
.about-text p {
    font-family: Arial, "Lucida Sans Unicode", sans-serif;
    font-size: 1.1em;
    margin: 10px 20px;
    text-align: justify;
}

/*-- box for work samples --*/
.works-container {
    display:flex;
    justify-content: center;
    border: 1px dotted black;
    margin: 20px;
}

/*-- grid setup for work samples --*/
.works-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 5vw;
    width: 80vw;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* work samples and tags, laid out in .works-content grid */
.work-lead {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 6;
    background-image: url("../images/keyboard-TorstenDettlaff.jpg");
    background-size: cover;
    text-decoration: none;
    font-family: 'Courier New', Courier, sans-serif;
}

.work-lead::before{
    content: ".keyboard";
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    z-index: 1;
}

.work-sub1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    background-image: url("../images/lights-AntonAtanasov.jpg");
    background-size: cover;
    text-decoration: none;
    font-family: 'Courier New', Courier, sans-serif;
}

.work-sub1::before{
    content: ".lights";
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

.work-sub2 {
    position: relative;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 9;
    background-image: url("../images/mixer-DavidYohanes.png");
    background-size: cover;
    text-decoration: none;
    font-family: 'Courier New', Courier, sans-serif;
}

.work-sub2::before{
    content: ".mixer";
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

.work-sub3 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 12;
    background-image: url("../images/organum-TimGouw.jpg");
    background-size: cover;
    text-decoration: none;
    font-family: 'Courier New', Courier, sans-serif;
}

.work-sub3::before{
    content: ".organ";
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

.work-sub4 {
    position: relative;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 12;
    background-image: url("../images/stick-GeorgeBecker.jpg");
    background-size: cover;
    text-decoration: none;
    font-family: 'Courier New', Courier, sans-serif;
}

.work-sub4::before{
    content: ".arcade";
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

/* sets border for works items */
.works-content > * {
    border: 3px solid yellow;
    opacity: 50%
}

/* animation for hover on works items */
.works-content >*:hover {
    box-shadow: 10px 10px 1px grey;
    transition-duration: 1.2s;
    opacity: 100%;
}

/* container for contact links */
.contact-links {
    display: flex;
    flex: wrap;
    justify-content: space-around;  
    margin:  20px 20px 50px 20px;
}

/* text style for contact links */
.contact-links > * {
    font-family: "Courier New", Courier, Arial, sans-serif;
    text-decoration: none;
    color: black;
    padding:10px;
    margin:10px;
}

/* animation for hover on contact links */
.contact-links > *:hover {
    color: black;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition-duration: 1s;
    border: 1px solid grey;
}

/* animation for click on contact links */
.contact-links >*:active {
    color: black;
    background: rgba(153, 153, 153, 0.2);
    border: 1px solid yellow;
    transition-duration: .2s;
}

/* container for footer, text font and size, and gradient */
footer {
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: Courier, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(0deg, grey, rgba(255, 0 ,0 ,0));
}

/* set footer color and remove link styling from name */
footer p > a {
    color:black;
    text-decoration: none;
}

/* tooltip setup for name in copyright line */
.tt {
    position: relative;
}

.tt .tt-txt {
    position: absolute;
    visibility: hidden;
    width: 200px;
    font-size: 1em;
    background-color: rgba(100,100,100,1);
    color: yellow;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.tt:hover .tt-txt {
    visibility: visible;
}

/* justify header to restrict width after 650px width */
@media screen and (min-width: 651px) {
    header {
        justify-content: center;
    }    
}

/* restrict width of about, works, and contact sections after 910px width */
@media screen and (min-width: 909px) {
    .about-text {
        margin: auto;
        margin-bottom: 20px;
        width: 900px;
    }

    .works-container {
        margin: 20px auto;
        width: 900px;
    }

    .contact-links {
        width: 900px;
        margin: 20px auto 50px auto;
    }
}